.wrapper {
  margin: 5rem 0; 
}

.btnIcon {
  margin-right: .3rem;
}

.userMenus {
  li {
    a {
      padding-top: .5rem;
      padding-bottom: .5rem;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}
