.addToCartBtn {
  padding: .4rem 0;
}

.btnIcon {
  margin-right: .3rem;
}

.cartIcon {
  margin-right: .5rem;
}

.cartLabel {
  position: relative;
}

.cartBadge {
  position: absolute;
  top: 1rem;
  left: .5rem;
  padding: .15rem .3rem .14rem !important;
}
