.addToCartBtn {
  padding: .4rem 0;
}

.btnIcon {
  margin-right: .3rem;
}

.cartIcon {
  margin-right: .5rem;
}

.checkoutLink {
  &:hover {
    text-decoration: none;
  }
}

.btnLabel {
  position: relative;
}

.badge {
  position: absolute;
  top: 1rem;
  left: .5rem;
  padding: .15rem .3rem .14rem !important;
}

.itemImageContainer {
  display: block;
  position: relative;
  max-width: 6rem;
  min-height: 6rem;
}

.itemImageContainer img {
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .cartImage {
    margin-bottom: 1rem;
  } 
}