.wrapper {
  margin-bottom: 10rem;
}

.section {
  margin-bottom: 4rem;
}

.subTitle {
  margin-bottom: 2rem;
  font-weight: normal;
}

.formRow {
  margin-bottom: 1.5rem;
}

.form {
  textarea {
    resize: none;
  }
}
