.section {
  margin-bottom: 4rem;
}

.sectionTitle {
  margin-bottom: 2rem;
  font-weight: normal;
}

.subSectionTitle {
  font-size: 1rem;
  font-weight: 500;
}

.formRow {
  margin-bottom: 1.5rem;
}

.form {
  textarea {
    resize: none;
  }
}

.linkBtn {
  padding: .5rem 1rem;

  &:hover {
    text-decoration: none;
  }
}

.linkActive {
  // text-decoration: underline;
  text-decoration: none;
}
