.header {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.btnIcon {
  margin-right: .3rem;
}

.alertIcon {
  margin-right: .5rem;
}

.logoIcon {
  margin-right: .2rem;
}

.sliderImageContainer {
  position: relative;
  height: 31rem;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .sliderImageContainer {
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .sliderImageContainer {
    height: 20rem;
  }
}

@media screen and (max-width: 576px) {
  .sliderImageContainer {
    height: 15rem;
  }
}

@media screen and (max-width: 420px) {
  .sliderImageContainer {
    height: 12rem;
  }
}

.sliderImageContainer img {
  object-fit: cover;
  object-position: center;
}

.sliderCaption {
  text-shadow: 1px 1px 0px #454545;
}