.header {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.btnIcon {
  margin-right: .3rem;
}

.alertIcon {
  margin-right: .5rem;
}

.logoIcon {
  margin-right: .2rem;
}

.sliderImageContainer {
  position: relative;
  min-height: 85vh;
  width: 100%;
}

.sliderCaption {
  text-shadow: 1px 1px 0px #454545;
}