.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-bottom: 2rem;
  font-weight: normal;
}

.subSectionTitle {
  font-size: 1rem;
  font-weight: 500;
}

.btnIcon {
  margin-right: .3rem;
}

.itemImageContainer {
  display: block;
  position: relative;
  max-width: 6rem;
  min-height: 6rem;
}
