.title {
  min-height: 3rem;
  font-weight: 500;
}

.price {
  font-size: 1.1rem;
  font-weight: 500;
}

.itemImageContainer {
  display: block;
  position: relative;
  height: 15rem;
}

.fullImageContainer {
  display: block;
  position: relative;
  height: 25rem;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.ratingText {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
